#app {
  background: #b0c4de;
  color: #fff#836FFF;
}
ul {
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  list-style: none;
  padding: 0;
  margin: 0;
}
.column {
  flex-direction: column;
  width: 100px;
}
li {
  padding: 20px;
  background: #84e;
  color: #fff;
  border-radius: 4px;
  margin: 10px;
  flex: 1;
  text-align: center;
}
